<%- include("header") -%>

<div class="wrapper">
  <h1 class=""><%= title %> things ToDo</h1>
  <ul>
    <% items.forEach(item => { %>
        <form action="/delete" method="post">
          <li>
            <!-- <input class="checkbox" name="checkbox" value=<%= item.id %> onChange="this.form.submit()" type="checkbox"> -->
              <span><%= item.name %></span>
              <button value=<%= item.id %> name="delete" type="submit">-</button>
          </li>
        </form>
    <%  }) %>
    <li>
      <form class="item" action="/" method="post">
        <input autocomplete="off" autofocus type="text" name="item" onfocusout="this.placeholder='New chore'" onfocus="this.placeholder=''">
        <button type="submit" value=<%= listName %> name="list">+</button>
      </form>
    </li>
  </ul>
</div>

<%- include("footer") -%>
